In [1]:
#Assignment no2_Module 3
#Data Types and Structure
# Theoratical Question(Part A)
#1.What are data structure and why are they important?
# Ans- It’s way of organizing and storing data so that can be accessed and manipulated # effectively .
# 2.Explain the difference between mutable and immutable data types with example
#Ans-Mutatable means where we can replace the data like in list for example
#Shopping list=[ “Baigen”,Apple”,2] 
#Shopping_list[0]=”Mango”
#Shopping_list=[“Mango”,Apple”,2]  Mango replaced 
#Whereas immutable means not replaced like in Tuples 
# 3.What are the difference between List and tuples?
#Feature	List	Tuple
#Definition	Mutable ordered collection	Immutable ordered collection
#Syntax	my_list = [1, 2, 3]	my_tuple = (1, 2, 3)
#Mutability	 Mutable (can change values)	 Immutable (cannot change values)
#Methods Available	Many (append(), remove(), etc.)	Few (count(), index() only
		
#Use Case	When data can change	When data must remain constant
#Memory Consumption	Higher	Lower
#Iteration Safety	Less safe in multi-threaded programs	Safer due to immutability
#Can be used as #dictionary key?	No (unless converted to tuple)	 Yes (if it contains only immutable types)
#4. Describe how dictionaries store data?
#Ans-dictionary in Python is a collection of key-value pairs.
#Key → Hash → Index → Value.
#5. Why might you use asset instead of a list in Python.
#Ans- Because Set is collection of unique elements which enhanced it’s application to many solutions.
#6. What is a string in python and how is it different from the list?
#String is a sequence of characters enclosed in quotes and immutable which make it different from the lists.
#7. How do the tuples ensure data integrity in Python?
#Ans- Tuples in Python help ensure data integrity through their immutability
#8. What is a hash table and how does it relate to dictionaries in Python?
#Ans- A hash table is a data structure that stores data in key-value pairs, allowing very fast data lookup. Hashing avoids the need to search every element.
#9.Can lists contain different data types in python?
#Ans- Yes
#10.Explain why the string are immutable in python?
#Ans-Because Strings are immutable that is once a string is created, you cannot change any of its characters.
#11.what advantage do the dictionaries offer over lists for certain task?
#Ans- Dictionaries (dict) and Lists (list) are both useful, but dictionaries offer key #advantages in certain tasks, especially when you need to associate keys with #values.
#Feature	Dictionary (dict)	List (list)
# Key-based access	Access by key (e.g., data["name"])	Access by index (e.g., data[0])
# Faster lookups	Very fast: average O(1) time	Slower: average O(n) time
# More descriptive #access	Keys make code more readable (user["age"])	List indices are less meaningful (user[2])
# Unordered #mapping	Great for mapping relationships (e.g., name → marks)	Sequential only
# Flexible structure	Keys can be strings, numbers, tuples	Only positional data
#12. Describe a scenario where using a tuple would be preferable over a list?
#Ans-it can be used where values are fixed and not changes over the time during the programming.
#13. How do sets handle duplicate values in Python?
# Ans- Sets is collection of basically unordered, unindexed, mutable and unique elements and the unique property handles the duplicate values.
#14. How does the “in” keywords work differently for list and dictionaries?
#Ans- For list it will check its presence whereas in dictionaries check for the key
 # values.
#15. Can you modify the elements of tuple? Explain why or why not?
# No, we can’t modify the elements of tiple because it’s immutable.
#16. What is a nested dictionary, and give an example of its use case ?
#Ans- A nested dictionary is a dictionary where one or more values are dictionaries #themselves.
#This allows us to represent hierarchical or structured data in a clean and organized #way — like a table with rows and columns, or records with sub-records.
#17. Describe the time complexity of accessing elements in dictionary?
#Ans- time respond is very fast 
#18. In what situation are lists preferred over dictionaries?
# Ans- Lists and dictionaries serve different purposes, and lists are better in situations where order and sequence matter, or where indexed data is more appropriate.
#19. Why are dictionaries considered unordered and how does that affect data #retrieval?
# Ans- The order in which you insert key-value pairs is not guaranteed and to be the same #as the order in which you retrieve them.
#20. Explain the difference between a list and a dictionary in terms of data retrieval?
#Ans- A list is an ordered collection of elements whereas dictionary is an unordered #collection of elements.

In [2]:
#Practical Questions

In [3]:
#1.write code to create stringwith your name and print it
my_name="Rajesh kumar"
print(my_name)

Rajesh kumar

In [4]:
#2Write a code to find length of string Hello World
a=("Hello world")
len(a)

11

In [5]:
#3 write a code to slice the first 3 characters from string" Python Programming"
a="Python Programming"
sliced_a = a[:3]
print(sliced_a)

Pyt

In [7]:
# 4 write a code to convert "hello" to upper case
a= "hello"
upper_a = a.upper()
print(upper_a)

HELLO

In [8]:
# 5 write a code to replace the word " apple" with "orange" in a string" I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [9]:
# 6 write  a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
# 7 write a code to append 10 to the list[1,2,3,4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
# 8 write a code to remove the number 3 from the list [1,2,3,4,5]
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [13]:
# 9 write a code to acess the second element in the list['a','b','c','d']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [14]:
# 10 write a code to reveres the list[10,20,30,40,50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [15]:
# 11 write a code to create a tuple with elements 100,200,300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
type(my_tuple)

tuple

In [19]:
#12 Write a code to acess the second to last element of tuple('red','green','blue','yellow')
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [20]:
# 13 Write  a code to find the minimum number in the tuple(10,20,5,15)
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [21]:
# 14 write a code to find the index of the element "cat" in tuple ('dog','cat','rabbit')
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [22]:
#15 write  acode to create a tuple containg three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [23]:
fruits = ("apple", "banana", "kiwi")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [24]:
# 16 write a code to create a set with element 'a','b','c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [27]:
# 17 write a code to clear all elements from the set { 1,2,3,4,5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [29]:
# 18 Write a code to remove the element 4 from the set {1,2,3,4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [31]:
# 19 write a code to find union of two sets {1,2,3} and {3,4,5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [32]:
# 20  write a code to find the intersection of two sets {1,2,3) and{2,3,4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [33]:
#21 Write a code to create a dicitionary with the keys"names","age" and "city" and print it
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [1]:
# 22 write a code to add a new key pair "country":"USA" TO THE DICITIONARY{'name':'Johan','age':25}
# Original dictionary
person = {'name': 'Johan', 'age': 25}

# Adding new key-value pair
person['country'] = 'USA'

# Printing updated dictionary
print(person)

{'name': 'Johan', 'age': 25, 'country': 'USA'}

In [3]:
# 23 Write a code to acess the value associated with the key"name" in the dicitionary{'name':''Alice','age':30}
#  dictionary
person = {'name': 'Alice', 'age': 30}

# Code to acess the key name
print(person["name"])

Alice

In [5]:
# 24 Write a code to remove the key"age" from the dicitinory {'name':'Bob",'age':22,'city':'New york'}
#  dictionary
person = {'name':'Bob','age':22,'city':'New york'}

# Code toremove the key age
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New york'}

In [8]:
#25 Write a code to check if the key" city" exist in dicitinory {'name':'Alice','city':'Paris'}
#  dictionary
person = {'name':'Alice','city':'Paris'}

# Code to check the key city
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [9]:
# 26 Write a code to create a list, a tuple and a dicitonary and print them all
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [11]:
#  27 write  a code to create a list of 5 random numbers between  1 and 100, sort it in asending order and print result
# Create a list of 5 random numbers between 1 and 100
numbers = [2,25,12,36,50]

# Sort in ascending order
numbers.sort()

# Print result
print("Sorted list:", numbers)

Sorted list: [2, 12, 25, 36, 50]

In [12]:
# 28 write a code to create a list with strings and print the element at third index
# Creating a list with strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Printing the element at third index
print("Element at third index:", fruits[3])

Element at third index: mango

In [13]:
# Write a code to combine two dicitinories into one and print the result
# Two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

# Print result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [14]:
# 30 write a code to convert a list of strings into a set
# List of strings
fruits_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
fruits_set = set(fruits_list)

# Print result
print("Set:", fruits_set)

Set: {'banana', 'apple', 'cherry'}